@model DetailsModel
<p><strong>Name:</strong> @Model.ThreadInstance.Name</p>
<p><strong>Description:</strong> @Model.ThreadInstance.Description</p>
<p><strong>Creator:</strong> @Model.ThreadInstance.Creator</p>
<p><strong>Date of Registry:</strong> @Model.ThreadInstance.DateOfRegistry</p>
<p><strong>Posts:</strong> @Model.ThreadInstance.PostsCount</p>
<p><strong>Total Karma:</strong> @Model.ThreadInstance.TotalKarma</p>

